<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user sign in</title>
    <link rel="stylesheet" href="Skeleton-2.0.4/css/skeleton.css">
</head>
<body>
    <h1>
        <a href="https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=<%=clientId%>&response_type=code&redirect_uri=<%=redirectUrl%>&response_mode=query&scope=<%=requstScope%>&state=12345">
            click me</a>
    </h1>
</body>
</html>